name: "Critic"
scopeName: "text.critic"
fileTypes: [
  "md"
  "markdown"
  "txt"
]
patterns: [
  {
    name: "string.substitution"
    comment: "Editorial Substitution"
    match: "\\{~~(.*?)~~\\}"
  }
  {
    name: "string.addition"
    comment: "Editorial Addition"
    match: "\\{\\+\\+(.*?)\\+\\+[ \\t]*(\\[(.*?)\\])?[ \\t]*\\}"
  }
  {
    name: "string.deletion"
    comment: "Editorial Deletion"
    match: "\\{--(.*?)--[ \\t]*(\\[(.*?)\\])?[ \\t]*\\}"
  }
  {
    name: "string.highlight"
    comment: "Editorial Highlight"
    match: "\\{\\=\\=(.*?)[ \\t]*(\\[(.*?)\\])?[ \\t]*\\=\\=\\}"
  }
  {
    name: "string.comment"
    comment: "Editorial Mark"
    match: "\\{>>(.*?)<<\\}"
  }
]
