'context-menu':
  'atom-text-editor': [
    {
      label: 'CriticMarkup'
      submenu: [
        {label: 'Addition', command: 'critic-markup:addition'}
        {label: 'Deletion', command: 'critic-markup:deletion'}
        {label: 'Substitution', command: 'critic-markup:substitution'}
        {label: 'Highlight', command: 'critic-markup:highlight'}
        {label: 'Comment', command: 'critic-markup:comment'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'CriticMarkup'
      'submenu': [
        {'label': 'Addition', 'command': 'critic-markup:addition'}
        {label: 'Deletion', command: 'critic-markup:deletion'}
        {label: 'Substitution', command: 'critic-markup:substitution'}
        {label: 'Highlight', command: 'critic-markup:highlight'}
        {label: 'Comment', command: 'critic-markup:comment'}
      ]
    ]
  }
]
